{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <style>
        input , .bootstrap-select.btn-group button{
            background-color: #f3f4f6  !important;
            height: 44px  !important;
            box-shadow: none  !important; 
        }
    </style>


        <div id="wrapper" class="flex flex-col justify-between h-screen">
    
            <!-- header-->
            <div class="bg-white py-4 shadow dark:bg-gray-800">
                <div class="max-w-6xl mx-auto">
    
    
                    <div class="flex items-center lg:justify-between justify-around">
    
                        <a href="trending.html">
                            <img src="assets/images/logo.png" alt="" class="w-32">
                        </a>
    
                        <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                            <a href="form-login.html" class="py-3 px-4">Войти</a>
                            <a href="{% url 'register' %}" class="bg-purple-500 purple-500 px-6 py-3 rounded-md shadow text-white">Регистрация</a>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <!-- Content-->
            <div>
                <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                    <form method = 'POST' enctype="multipart/form-data" class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md">
                        {% csrf_token %}
                        <h1 class="lg:text-2xl text-xl font-semibold mb-6"> Регистрация </h1>

                        <div class="grid lg:grid-cols-2 gap-3">
                            <div>
                                <label class="mb-0"> Имя </label>
                                <input name ='first_name' type="text" placeholder="Имя" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                            </div>
                            <div>
                                <label class="mb-0"> Фамилия </label>
                                <input name='last_name' type="text" placeholder="Фамилия" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                            </div>
                        </div>
                        <div>
                            <label class="mb-0"> Имя пользователя </label>
                            <input name='username' type="text" placeholder="Имя пользователя" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div>
                            <label class="mb-0"> Почта </label>
                            <input name='email' type="email" placeholder="Почта" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div>
                            <label class="mb-0"> Фотография профиля </label>
                            <input type="file" name='profile_image' class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div>
                            <label class="mb-0"> Пароль </label>
                            <input name='password' type="password" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div>
                            <label class="mb-0"> Подтвердите пароль </label>
                            <input name='confirm_password' type="password" placeholder="******  " class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                        </div>
                        <div class="grid lg:grid-cols-2 gap-3">
                            <div>
                                <label class="mb-0"> Пол </label>
                                <select name='gender' class="selectpicker mt-2">
                                    <option value='Мужчина'>Мужской</option>
                                    <option value='Женщина'>Женский</option>
                                    <option value='Другое'>Другое</option>
                                </select>

                            </div>
                            <div>
                                <label class="mb-0"> Номер телефона  </label>
                                <input name='phone_number' type="text" placeholder="+543 5445 0543" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                            </div>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked="">
                            <label for="chekcbox1"><span class="checkbox-icon"></span> Я согласен с <a href="pages-terms.html" target="_blank" class="uk-text-bold uk-text-small uk-link-reset">пользовательским соглашением </a>
                            </label>
                        </div>

                        <div>
                            <button type="sumbit" class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full">
                                Зарегестрироваться</button>
                        </div>
                    </form>


                </div>
            </div>
            
            <!-- Footer -->
    
            <div class="lg:mb-5 py-3 uk-link-reset">
                <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                    <div class="flex space-x-2 text-gray-700 uppercase">
                        <a href="#"> About</a>
                        <a href="#"> Help</a>
                        <a href="#"> Terms</a>
                        <a href="#"> Privacy</a>
                    </div>
                    <p class="capitalize"> © copyright 2020 by Socialite</p>
                </div>
            </div>
    
        </div>

        
     
  {%endblock%}